* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.container-xxl {
  width: 100vw;
  height: 100vh;
  position: relative;
}

nav {
  position: absolute;
  width: 100%;
  height: 68px;
  left: 0;
}
nav .logo {
  position: absolute;
  width: 306px;
  height: 33px;
  top: 25px;
  background-image: url("../img/logo (1).svg");
  background-repeat: no-repeat;
  background-size: contain;
}
nav .price {
  position: absolute;
  width: 258px;
  left: 350px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
  top: 23px;
  font-weight: 700;
}
nav .search {
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 20px;
  right: 330px;
  top: 20px;
}
nav .select-container {
  width: 65px;
  height: 40px;
  position: absolute;
  right: 220px;
  top: 15px;
}
nav .select-container .img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  background-image: url("../img/cif_ru.svg");
  background-size: contain;
}
nav .select-container .ru {
  font-size: 16px;
  position: absolute;
  left: 30px;
  top: 7px;
  font-weight: 500;
}
nav .telegrambtn {
  position: absolute;
  width: 146px;
  height: 40px;
  left: 1120px;
  border-radius: 5px;
  top: 15px;
  background: linear-gradient(#1E96C8 100%, #37AEE2 100%);
}
nav .telegrambtn .bi-telegram {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: 10px;
  color: #fff;
  font-size: 20px;
}
nav .telegrambtn .b-text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 42px;
  top: 7px;
}

.nav-main {
  width: 100%;
  top: 120px;
  position: absolute;
  left: 0;
  height: 68px;
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgba(159, 159, 159, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-main .navMain-li {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 500;
  font: Rublik;
  font-size: 19px;
  color: #515151;
  padding-left: 0;
}

.reklamaImg {
  width: 100%;
  height: 110px;
  top: 210px;
  position: absolute;
  left: 0;
  background-image: url("../img/nrg-banner.svg");
  background-size: cover;
}

.static-container {
  width: 100%;
  position: absolute;
  top: 370px;
  height: 133px;
  background: #F6F6F9;
  left: 0;
  border-radius: 5px;
}
.static-container .line1 {
  width: 2px;
  height: 74px;
  position: absolute;
  top: 30px;
  left: 27%;
  background: #EB5569;
}
.static-container .line2 {
  width: 2px;
  height: 74px;
  position: absolute;
  top: 30px;
  left: 50%;
  background: #F4CCD1;
}
.static-container .line3 {
  width: 2px;
  height: 74px;
  position: absolute;
  top: 30px;
  left: 74%;
  background: #F4CCD1;
}
.static-container .img1 {
  position: absolute;
  width: 43px;
  height: 45px;
  top: 40px;
  left: 35px;
  background: url("../img/icon-covid.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.static-container .img2 {
  position: absolute;
  width: 43px;
  height: 45px;
  top: 42px;
  left: 390px;
  background: url("../img/icon-infected.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.static-container .img3 {
  position: absolute;
  width: 43px;
  height: 45px;
  top: 42px;
  left: 696px;
  background: url("../img/icon-recovered.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.static-container .img4 {
  position: absolute;
  width: 43px;
  height: 45px;
  top: 42px;
  left: 1023px;
  background: url("../img/icon-dead.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.static-container .covid-title {
  width: 232px;
  height: 50px;
  position: absolute;
  left: 95px;
  top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
}
.static-container .kasallanganlar {
  width: 150px;
  height: 20px;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  left: 450px;
  font-family: sans-serif;
  color: #DB0000;
  top: 37px;
}
.static-container .tuzalganlar {
  width: 150px;
  height: 20px;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  left: 760px;
  font-family: sans-serif;
  color: #15CE3D;
  top: 37px;
}
.static-container .vafotEtganlar {
  width: 150px;
  height: 20px;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  left: 1090px;
  font-family: sans-serif;
  color: #000000;
  top: 37px;
}
.static-container .kasalanganlar-soni {
  width: 100px;
  height: 20px;
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  left: 450px;
  font-family: sans-serif;
  color: #000;
  top: 63px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.static-container .tuzalganlar-soni {
  width: 100px;
  height: 20px;
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  left: 760px;
  font-family: sans-serif;
  color: #000;
  top: 63px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.static-container .vafotEtganlar-soni {
  width: 100px;
  height: 20px;
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  left: 1090px;
  font-family: sans-serif;
  color: #000;
  top: 63px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-xxl {
  height: 800px;
}
.container-xxl .main-grid {
  width: 100%;
  top: -270px;
  position: absolute;
  left: 0;
  height: 700px;
  display: grid;
  grid-template-columns: 420px 420px 420px;
  grid-template-rows: 300px 300px 300px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.container-xxl .main-grid .item-1 {
  position: relative;
}
.container-xxl .main-grid .item-1 .img {
  width: 100%;
  height: 200px;
  background-image: url("../img/prezident@2x.jpg");
  background-size: cover;
}
.container-xxl .main-grid .item-1 .card-text {
  position: absolute;
  width: 420px;
  height: 42px;
  line-height: 20px;
  font-weight: 500;
  font-size: 18px;
  top: 220px;
}
.container-xxl .main-grid .item-1 .date {
  position: absolute;
  width: 125px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #6B6D97;
  top: 270px;
}
.container-xxl .main-grid .item-2 {
  position: relative;
}
.container-xxl .main-grid .item-2 .img {
  width: 100%;
  height: 200px;
  background-image: url("../img/karantin.jpg");
  background-size: cover;
}
.container-xxl .main-grid .item-2 .card-text {
  position: absolute;
  width: 420px;
  height: 42px;
  line-height: 20px;
  font-weight: 500;
  font-size: 18px;
  top: 220px;
}
.container-xxl .main-grid .item-2 .date {
  position: absolute;
  width: 125px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #6B6D97;
  top: 250px;
}
.container-xxl .main-grid .item-3 {
  position: relative;
}
.container-xxl .main-grid .item-3 .img {
  width: 100%;
  height: 200px;
  background-image: url("../img/sardoba.jpg");
  background-size: cover;
}
.container-xxl .main-grid .item-3 .card-text {
  position: absolute;
  width: 420px;
  height: 42px;
  line-height: 20px;
  font-weight: 500;
  font-size: 18px;
  top: 220px;
}
.container-xxl .main-grid .item-3 .date {
  position: absolute;
  width: 125px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #6B6D97;
  top: 270px;
}
.container-xxl .main-grid .item-4 {
  position: relative;
}
.container-xxl .main-grid .item-4 .img {
  width: 100%;
  height: 200px;
  background-image: url("../img/prokuror.jpg");
  background-size: cover;
}
.container-xxl .main-grid .item-4 .card-text {
  position: absolute;
  width: 420px;
  height: 42px;
  line-height: 20px;
  font-weight: 500;
  font-size: 18px;
  top: 220px;
}
.container-xxl .main-grid .item-4 .date {
  position: absolute;
  width: 125px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #6B6D97;
  top: 270px;
}
.container-xxl .main-grid .item-5 {
  position: relative;
}
.container-xxl .main-grid .item-5 .img {
  border: 1px solid blue;
  width: 100%;
  height: 200px;
  background-image: url("../img/tez-yordam.jpg");
  background-size: cover;
}
.container-xxl .main-grid .item-5 .card-text {
  position: absolute;
  width: 420px;
  height: 42px;
  line-height: 20px;
  font-weight: 500;
  font-size: 18px;
  top: 220px;
}
.container-xxl .main-grid .item-5 .date {
  position: absolute;
  width: 125px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #6B6D97;
  top: 250px;
}
.container-xxl .main-grid .item-6 {
  position: relative;
}
.container-xxl .main-grid .item-6 .img {
  width: 100%;
  height: 200px;
  background-image: url("../img/stop-karantin.jpg");
  background-size: cover;
}
.container-xxl .main-grid .item-6 .card-text {
  position: absolute;
  width: 420px;
  height: 42px;
  line-height: 20px;
  font-weight: 500;
  font-size: 18px;
  top: 220px;
}
.container-xxl .main-grid .item-6 .date {
  position: absolute;
  width: 125px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #6B6D97;
  top: 250px;
}
.container-xxl .eslatma {
  width: 100%;
  position: absolute;
  background-color: #FCF3E0;
  height: 91px;
  border-radius: 5px;
  top: 385px;
  left: 0;
}
.container-xxl .eslatma .img {
  width: 31px;
  height: 35px;
  position: absolute;
  top: 26px;
  left: 47px;
  background: url("../img/bell-icon@2x.png");
  background-size: contain;
}
.container-xxl .eslatma h2 {
  width: 610px;
  height: 26px;
  position: absolute;
  font-size: 20px;
  left: 110px;
  top: 30px;
  font-weight: 500;
}
.container-xxl .eslatma button {
  width: 264px;
  height: 42px;
  position: absolute;
  top: 25px;
  left: 1025px;
  background: linear-gradient(rgba(254, 93, 40, 0.8078431373) 100%, rgba(255, 138, 54, 0.3294117647) 90%);
  border: none;
}
.container-xxl .grid-main-2 {
  width: 100%;
  height: 1500px;
  position: absolute;
  left: 0;
  top: 600px;
  display: grid;
  grid-template-columns: 785px;
  grid-template-rows: 143px 143px 143px 143px 143px 143px;
  grid-row-gap: 27px;
}
.container-xxl .grid-main-2 .item-1 .img {
  width: 252px;
  height: 143px;
  position: absolute;
  background-image: url("../img/Rectangle 38.png");
  background-size: contain;
}
.container-xxl .grid-main-2 .item-1 p {
  width: 434px;
  height: 42px;
  position: absolute;
  left: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
.container-xxl .grid-main-2 .item-1 h5 {
  width: 512px;
  height: 55px;
  font-size: 15px;
  position: absolute;
  left: 270px;
  top: 50px;
  font-weight: 400;
  color: #434343;
  font-family: sans-serif;
}
.container-xxl .grid-main-2 .item-1 .date {
  position: absolute;
  width: 512px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
  color: #7688A4;
  left: 270px;
  top: 123px;
}
.container-xxl .grid-main-2 .item-2 .img {
  width: 252px;
  height: 143px;
  position: absolute;
  background-image: url("../img/Rectangle 23.png");
  background-size: contain;
}
.container-xxl .grid-main-2 .item-2 p {
  width: 434px;
  height: 42px;
  position: absolute;
  left: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
.container-xxl .grid-main-2 .item-2 h5 {
  width: 512px;
  height: 55px;
  font-size: 15px;
  position: relative;
  left: 270px;
  top: 50px;
  font-weight: 400;
  color: #434343;
  font-family: sans-serif;
}
.container-xxl .grid-main-2 .item-2 .date {
  position: relative;
  width: 512px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
  color: #7688A4;
  left: 270px;
  top: 58px;
}
.container-xxl .grid-main-2 .item-3 .img {
  width: 252px;
  height: 143px;
  position: absolute;
  background-image: url("../img/Rectangle 24.png");
  background-size: contain;
}
.container-xxl .grid-main-2 .item-3 p {
  width: 434px;
  height: 42px;
  position: absolute;
  left: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
.container-xxl .grid-main-2 .item-3 h5 {
  width: 512px;
  height: 55px;
  font-size: 15px;
  position: relative;
  left: 270px;
  top: 50px;
  font-weight: 400;
  color: #434343;
  font-family: sans-serif;
}
.container-xxl .grid-main-2 .item-3 .date {
  position: relative;
  width: 512px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
  color: #7688A4;
  left: 270px;
  top: 58px;
}
.container-xxl .grid-main-2 .item-4 .img {
  width: 252px;
  height: 143px;
  position: absolute;
  background-image: url("../img/Rectangle 38.png");
  background-size: contain;
}
.container-xxl .grid-main-2 .item-4 p {
  width: 434px;
  height: 42px;
  position: absolute;
  left: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
.container-xxl .grid-main-2 .item-4 h5 {
  width: 512px;
  height: 55px;
  font-size: 15px;
  position: relative;
  left: 270px;
  top: 50px;
  font-weight: 400;
  color: #434343;
  font-family: sans-serif;
}
.container-xxl .grid-main-2 .item-4 .date {
  position: relative;
  width: 512px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
  color: #7688A4;
  left: 270px;
  top: 58px;
}
.container-xxl .grid-main-2 .item-5 .img {
  width: 252px;
  height: 143px;
  position: absolute;
  background-image: url("../img/Rectangle 23.png");
  background-size: contain;
}
.container-xxl .grid-main-2 .item-5 p {
  width: 434px;
  height: 42px;
  position: absolute;
  left: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
.container-xxl .grid-main-2 .item-5 h5 {
  width: 512px;
  height: 55px;
  font-size: 15px;
  position: relative;
  left: 270px;
  top: 50px;
  font-weight: 400;
  color: #434343;
  font-family: sans-serif;
}
.container-xxl .grid-main-2 .item-5 .date {
  position: relative;
  width: 512px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
  color: #7688A4;
  left: 270px;
  top: 58px;
}
.container-xxl .grid-main-2 .item-6 .img {
  width: 252px;
  height: 143px;
  position: absolute;
  background-image: url("../img/Rectangle 24.png");
  background-size: contain;
}
.container-xxl .grid-main-2 .item-6 p {
  width: 434px;
  height: 42px;
  position: absolute;
  left: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
.container-xxl .grid-main-2 .item-6 h5 {
  width: 512px;
  height: 55px;
  font-size: 15px;
  position: relative;
  left: 270px;
  top: 50px;
  font-weight: 400;
  color: #434343;
  font-family: sans-serif;
}
.container-xxl .grid-main-2 .item-6 .date {
  position: relative;
  width: 512px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
  color: #7688A4;
  left: 270px;
  top: 58px;
}
.container-xxl .grid-main-3 {
  position: absolute;
  width: 396px;
  height: 600px;
  left: 920px;
  top: 600px;
  display: grid;
  grid-template-columns: 386px;
  grid-template-rows: 150px 150px 150px 150px;
  background-color: #F6F6F9;
}
.container-xxl .grid-main-3 .item-1 p {
  width: 280px;
  height: 26px;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 22px;
}
.container-xxl .grid-main-3 .item-1 h5 {
  width: 347px;
  height: 62px;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 40px;
  line-height: 20.15px;
  font-family: sans-serif;
  color: #202020;
}
.container-xxl .grid-main-3 .item-1 .date {
  width: 117px;
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  color: #7688A4;
  top: 110px;
}
.container-xxl .grid-main-3 .item-1 .line {
  position: relative;
  width: 346px;
  height: 4px;
  background-color: #E4E4E4;
  display: flex;
  left: 5%;
  top: 140px;
}
.container-xxl .grid-main-3 .item-2 p {
  width: 280px;
  height: 26px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left: 22px;
}
.container-xxl .grid-main-3 .item-2 h5 {
  width: 347px;
  height: 62px;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 190px;
  line-height: 20.15px;
  font-family: sans-serif;
  color: #202020;
}
.container-xxl .grid-main-3 .item-2 .date {
  width: 117px;
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  color: #7688A4;
  top: 270px;
}
.container-xxl .grid-main-3 .item-2 .line {
  position: relative;
  width: 346px;
  height: 4px;
  background-color: #E4E4E4;
  display: flex;
  left: 5%;
  top: 104px;
}
.container-xxl .grid-main-3 .item-3 p {
  width: 280px;
  height: 26px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left: 22px;
}
.container-xxl .grid-main-3 .item-3 h5 {
  width: 347px;
  height: 62px;
  font-size: 17px;
  font-weight: 400;
  position: relative;
  left: 22px;
  line-height: 20.15px;
  font-family: sans-serif;
  color: #202020;
}
.container-xxl .grid-main-3 .item-3 .date {
  width: 117px;
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  left: 22px;
  color: #7688A4;
}
.container-xxl .grid-main-3 .item-3 .line {
  position: relative;
  width: 346px;
  height: 4px;
  background-color: #E4E4E4;
  display: flex;
  left: 5%;
  top: 10px;
}
.container-xxl .grid-main-3 .item-2 p {
  width: 280px;
  height: 26px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left: 22px;
}
.container-xxl .grid-main-3 .item-2 h5 {
  width: 347px;
  height: 62px;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 190px;
  line-height: 20.15px;
  font-family: sans-serif;
  color: #202020;
}
.container-xxl .grid-main-3 .item-2 .date {
  width: 117px;
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  color: #7688A4;
  top: 270px;
}
.container-xxl .grid-main-3 .item-2 .line {
  position: relative;
  width: 346px;
  height: 4px;
  background-color: #E4E4E4;
  display: flex;
  left: 5%;
  top: 104px;
}
.container-xxl .grid-main-3 .item-4 p {
  width: 280px;
  height: 26px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left: 22px;
}
.container-xxl .grid-main-3 .item-4 h5 {
  width: 347px;
  height: 62px;
  font-size: 17px;
  font-weight: 400;
  position: relative;
  left: 22px;
  line-height: 20.15px;
  font-family: sans-serif;
  color: #202020;
}
.container-xxl .grid-main-3 .item-4 .date {
  width: 117px;
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  left: 22px;
  color: #7688A4;
}
.container-xxl .grid-main-3 .item-4 .line {
  position: absolute;
  width: 346px;
  height: 4px;
  background-color: #E4E4E4;
  display: flex;
  left: 5%;
  top: 18px;
}
.container-xxl .rek-img {
  position: absolute;
  width: 386px;
  height: 477px;
  left: 930px;
  top: 1222px;
  background-image: url("../img/Rectangle 41.png");
}
.container-xxl .btn {
  width: 211px;
  height: 42px;
  position: absolute;
  top: 1620px;
  left: 300px;
  background: #295093;
  color: #FFFFFF;
}
.container-xxl .rek-container {
  width: 100%;
  height: 214px;
  top: 1740px;
  position: absolute;
  left: 0;
  background: #F6F6F9;
}
.container-xxl .rek-container .img {
  width: 236px;
  height: 177px;
  position: absolute;
  left: 30px;
  top: 35px;
  background-image: url("../img/Group 1.svg");
}
.container-xxl .rek-container p {
  width: 526px;
  height: 30px;
  top: 55px;
  position: absolute;
  left: 270px;
  color: #295093;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-family: sans-serif;
}
.container-xxl .rek-container h6 {
  width: 526px;
  height: 44px;
  top: 95px;
  position: absolute;
  left: 270px;
  color: #333333;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-family: sans-serif;
}
.container-xxl .rek-container .img-gPLay {
  width: 162px;
  height: 50px;
  top: 70px;
  left: 875px;
  position: absolute;
  background-image: url("../img/googleplay 1.svg");
}
.container-xxl .rek-container .img-Appstore {
  width: 162px;
  height: 50px;
  top: 70px;
  left: 1065px;
  position: absolute;
  background-image: url("../img/appstore 1.svg");
}

footer {
  border: 1px solid red;
  position: relative;
  width: 100%;
  height: 255px;
  top: 1200px;
  background: #295093;
}
footer .container-xxl {
  border: 1px solid red;
  height: 225px;
}
footer .container-xxl .logo {
  width: 194px;
  height: 38px;
  position: absolute;
  top: 25px;
  background-color: #133C82;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer .container-xxl h5 {
  width: 759px;
  height: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  position: absolute;
  left: 370px;
  top: 32px;
}
footer .container-xxl button {
  position: absolute;
  width: 132px;
  height: 38px;
  background: #fff;
  left: 1184px;
  top: 25px;
  font-weight: 500;
  font-size: 14px;
  padding-left: 20px;
  border-radius: 5px;
}
footer .container-xxl button .bi-telegram {
  width: 18px;
  height: 20px;
  position: absolute;
  font-size: 18px;
  color: #295093;
  left: 10px;
  height: 10px;
  top: 5px;
}
footer .container-xxl .line {
  width: 100%;
  height: 3px;
  background: #133C82;
  position: absolute;
  top: 90px;
  left: 0;
}
footer .container-xxl .footer1 {
  width: 345px;
  height: 121px;
  color: #fff;
  font-size: 14px;
  list-style: none;
  position: absolute;
  top: 110px;
  left: 0;
  line-height: 17px;
  padding-left: 0;
}
footer .container-xxl .footer1 :nth-child(1) {
  position: relative;
  top: -10px;
}
footer .container-xxl .footer2 {
  width: 345px;
  height: 121px;
  color: #fff;
  font-size: 14px;
  list-style: none;
  position: absolute;
  top: 100px;
  left: 500px;
  line-height: 28px;
  padding-left: 0;
}
footer .container-xxl .footer3 {
  width: 345px;
  height: 121px;
  color: #fff;
  font-size: 14px;
  list-style: none;
  position: absolute;
  top: 100px;
  left: 800px;
  line-height: 28px;
  padding-left: 0;
}/*# sourceMappingURL=style.css.map */